.slide {
    border-right: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 300px;
    white-space: normal;
}

.slide:last-child {
    border-right: none;
}

.image {
  width:100%
  
}

@media ( min-width: 1000px ) {
    .slide {
      width: 300px;
    }
  }